/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-family: 'Open Sans', sans-serif;
  font-size: 62.5%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}
h1 {
  font-size: 2.4rem;
}
h2 {
  font-size: 2rem;
}
p,
a,
td,
tr {
  font-size: 1.6rem;
}
i {
  font-style: italic;
}
b {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  width: 100%;
  text-align: left;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}
.container {
  margin: 0 auto;
  max-width: 100vw;
  height: 100vh;
}
footer {
  text-align: center;
}
.accordion {
  max-width: 800px;
}
@media (max-width: 800px) {
  .accordion {
    margin: 0 10%;
  }
}
@media (max-width: 500px) {
  .accordion {
    margin: 0 5%;
  }
}
.accordion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  background: rgba(118, 54, 148, 0.2);
  padding: 10px;
  border-radius: 15px;
  margin-top: 2rem;
}
.accordion-header:first-child {
  margin-top: 0;
}
.accordion-header:hover {
  border: 1px solid purple;
  padding: 9px;
}
.accordion-header .accordion-title {
  font-size: 2.4rem;
}
@media (max-width: 800px) {
  .accordion-header .accordion-title {
    font-size: 2.2rem;
  }
}
@media (max-width: 500px) {
  .accordion-header .accordion-title {
    font-size: 2rem;
  }
}
.accordion-header .expand-btn {
  padding-left: 10px;
}
.accordion-header .collapse-btn {
  padding-left: 10px;
}
.accordion-header .hidden-btn {
  display: none;
}
.active-header {
  border: 1px solid purple;
  padding: 9px;
}
.accordion-content {
  display: none;
  padding: 10px;
  margin: 0 2%;
  border: 0.5px solid purple;
  border-radius: 0 0 15px 15px;
  border-top: none;
}
.novena-container .prayer-each-day {
  max-width: 800px;
}
@media (max-width: 800px) {
  .novena-container .prayer-each-day {
    margin: 0 10%;
  }
}
@media (max-width: 500px) {
  .novena-container .prayer-each-day {
    margin: 0 5%;
  }
}
.novena-container .prayer-each-day-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  background: rgba(118, 54, 148, 0.2);
  padding: 10px;
  border-radius: 15px;
  margin-top: 2rem;
}
.novena-container .prayer-each-day-header:first-child {
  margin-top: 0;
}
.novena-container .prayer-each-day-header:hover {
  border: 1px solid purple;
  padding: 9px;
}
.novena-container .prayer-each-day-header .accordion-title {
  font-size: 2.4rem;
}
@media (max-width: 800px) {
  .novena-container .prayer-each-day-header .accordion-title {
    font-size: 2.2rem;
  }
}
@media (max-width: 500px) {
  .novena-container .prayer-each-day-header .accordion-title {
    font-size: 2rem;
  }
}
.novena-container .prayer-each-day-header .expand-btn {
  padding-left: 10px;
}
.novena-container .prayer-each-day-header .collapse-btn {
  padding-left: 10px;
}
.novena-container .prayer-each-day-header .hidden-btn {
  display: none;
}
.novena-container .active-header {
  border: 1px solid purple;
  padding: 9px;
}
.novena-container .prayer-each-day-content {
  display: none;
  padding: 10px;
  margin: 0 2%;
  border: 0.5px solid purple;
  border-radius: 0 0 15px 15px;
  border-top: none;
}
