header {
    display: none;
}

br {
    display: none;
}

h1 {
    text-decoration: underline;
}

.verse {
    font-weight: bold;
}

.resp {
    font-style: italic;
}

.novena-options {
    display: none;
}

.section-jump {
    display: none;
}

.rosary-mysteries {
    display: none;
}

.legacy-link {
    display: none;
}

.novena-honor {
    display: none;
}

.rosary-prayers-header .expand-icon,
.prayer-each-day-header .expand-icon,
.pope-st-gregory-header .expand-icon{
    display: none;
}

.rosary-helper {
    display: none;
}

footer {
    display: none;
}