.novena-container {

    .prayer-each-day {
        max-width: 800px;
    
        @media @tablet {
            margin: 0 10%;
        }
    
        @media @phone {
            margin: 0 5%;
        }
    }
    
    .prayer-each-day-header {
        display: flex;
        justify-content: space-between;
        align-items:center;
        cursor: pointer;
        background: rgba(118, 54, 148, 0.2);
        padding: 10px;
        border-radius: 15px;
        margin-top: 2rem;
    
        &:first-child {
            margin-top: 0;
        }
    
        &:hover {
            border: 1px solid purple;
            padding: 9px;
        }
    
        .accordion-title {
            font-size: 2.4rem;
    
            @media @tablet {
            font-size: 2.2rem;
            }
        
            @media @phone {
                font-size: 2rem;
            }
        }
    
        .expand-btn {
            padding-left: 10px;
        }
    
        .collapse-btn {
            padding-left: 10px;
        }
    
        .hidden-btn {
            display: none;
        }
    }
    
    .active-header {
        border: 1px solid purple;
        padding: 9px;
    }
    
    .prayer-each-day-content {
        display:none;
        padding: 10px;
        margin: 0 2%;
        border: .5px solid purple;
        border-radius: 0 0 15px 15px;
        border-top: none;
    }
}