.novena-container {

    h1 {
        background-color: rgba(115, 30, 194, 0.4);
        padding: 5px 0;
        font-weight:bold;
        
        @media @tablet {
            text-align:center;
        }
    }

    section {
        margin-bottom: 2rem;
    }

    table {
        margin-top: 2rem;
        border-collapse: collapse;
        width: 900px;
        text-align: left;

        @media @tablet {
            width: 100%;
        }
    }
    
    tr {
    
        &:nth-child(even) {
            background-color: rgba(115, 30, 194, 0.05);
        } 
    }
    
    td {
        padding-left: 1.5em;
        text-indent:-1.5em;
    }

    ol {
        list-style-type: upper-roman;
        padding-left: 30px;
    }

    .novena-options {
        display: flex;
        justify-content: center;
        padding-top: 20px;
        margin-bottom: 2rem;

        @media (max-width: 425px) {
            flex-direction:column;
        }

        .novena-day {
            display:flex;
            margin-right: 20px;

            @media (max-width: 425px) {
                align-self: center;
                margin-right: 0;
                margin-bottom: 2rem;
            }
        }

        .novena-length {
            display:flex;

            @media (max-width: 425px) {
                align-self: center;
            }
        }
    }

    .rosary-mysteries {
        margin-top: 2rem;
        display: flex;
        flex-direction: column;

        @media @tablet {
            justify-content: center;
        }

        h2 {
            font-weight: bold;

            @media @tablet {
                align-self: center;
            }
        }
    }

    .joyful-mystery,.sorrowful-mystery,.glorious-mystery,.luminous-mystery {
        display: none;

        .mystery-header {
            text-decoration: underline;

            @media @tablet {
                text-align: center;
            }
        }
    }

    .selected-mystery {
        margin-top: 2rem;
        display: block;
        
        @media @tablet {
            align-self: center;
        }
    }

    .verse {
        font-weight:bold;
    }

    .resp {
        font-style:italic;
    }

    .prayer-text {
        max-width: 900px;
        margin-top: 2rem;

        @media @tablet {
            margin: 2rem 8% 0;
        }

        @media @phone {
            margin: 2rem 5% 0;
        }
    }

    .ofhm {
        font-style:italic;

        @media @tablet {
            text-align: center;
        }
    }
}